@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to my Portfolio</h1>
    <a asp-action="create" asp-controller="project">
        Register Project
    </a>
</div>

