@model Project

@{
	ViewData["Title"] = "Create";
}

<h1>Project Registration</h1>

<alert message="@TempData["msg"]"></alert>

<form asp-action="create" enctype="multipart/form-data">

	<partial name="_Form"/>
	<custom-button></custom-button>
</form>