@model Project

@{
	ViewData["Title"] = "Value";
}

<h1>Project Edit</h1>

<form asp-action="edit" enctype="multipart/form-data">

	<partial name="_Form" />
	<custom-button text="Edit"></custom-button>

</form>